[
    {
      "origin": ["http://website.{{PROJECT}}.measurementlab.net"],
      "responseHeader": ["Content-Type"],
      "method": ["GET"],
      "maxAgeSeconds": 3600
    },
    {
      "origin": ["https://www.measurementlab.net"],
      "responseHeader": ["Content-Type"],
      "method": ["GET"],
      "maxAgeSeconds": 3600
    }
]
